<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Tienda deportiva</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/dashboard'">
            <i class="bi bi-car-front-fill" style="font-size: 1.9em;"></i>
            <span>Vehiculos</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    



    <!-- Nav Item - Charts -->
    <!-- <li class="nav-item">
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link">
            <i class="fs-4 bi-map"></i> <span class="ms-1 d-none d-sm-inline">Departamentos</span> </a>
        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
            <li class="ps-5">
                <a class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
            </li>
            <li class="ps-5">
                <a class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
            </li>
        </ul>
    </li>    -->

  



    <!-- <li *ngIf="userService.cargo() == 1" class="nav-item">
        <a class="nav-link" [routerLink]="'/factura'">
            <i class="bi bi-wallet2" style="font-size: 1.5em;"></i>
            <span>Facturacion</span></a>
    </li>
    <li *ngIf="userService.cargo() == 3" class="nav-item">
        <a class="nav-link" [routerLink]="'/productos'">
            <i class="bi bi-bicycle" style="font-size: 1.5em;"></i>
            <span>Productos</span></a>
    </li>

    <li *ngIf="userService.cargo() == 1" class="nav-item">
        <a class="nav-link" [routerLink]="'/stock'">
            <i class="bi bi-box-seam" style="font-size: 1.5em;"></i>
            <span>Stock</span></a>
    </li>

    <li *ngIf="userService.cargo() == 3" class="nav-item">
        <a class="nav-link" [routerLink]="'/usuarios'">
            <i class="bi bi-person-add" style="font-size: 1.5em;"></i>
            <span>Usuarios</span></a>
    </li>

    <li *ngIf="userService.cargo() == 1"  class="nav-item">
        <a class="nav-link" [routerLink]="'/historial_facturas'">
            <i class="bi bi-clock-history" style="font-size: 1.5em;"></i>
            <span>Historial de facturas</span></a>
    </li> -->




    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    

</ul>

<!-- End of Sidebar -->