<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Blank</title>

  <!-- Custom fonts for this template-->

  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Componente menu lateral -->
    <app-menu></app-menu>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!--    Componente Topbar -->
        <app-topbar></app-topbar>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Contenido de la pagina -->
          <h1 class="h3 mb-4 text-gray-800">Stock</h1>

          <form class="row p-1" [formGroup]="formStock">

            <div class="col-md-2 pe-0">
              <a class="btn btn-success" (click)="openModal(template)"><i class="bi bi-plus-circle" style="font-size: 1.2em;"></i> Añadir nuevo producto</a>
            </div>

            <!--MODAL AGREGAR-->
            <ng-template #template >
              <div class="modal-header" >
                <h4 class="modal-title pull-left">Añadir nuevo producto</h4>
                <button type="button" class="close btn-close pull-right" aria-label="Close"
                  (click)="modalRef?.hide()">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row p-1">
                  <div class="col-md-6">
                    <div class="form-outline">
                      <i class="fas fa-dollar-sign trailing"></i>
                      <select formControlName="tipo" name="tipo" id="tipoproducto"
                        class="form-select  form-icon-trailing">
                        <option value="" disabled selected>--Seleccionar una opcion--</option>
                        <option value=1>Balón de fútbol</option>
                        <option value=2>Balón de baloncesto</option>
                        <option value=3>Pelota de béisbol</option>
                        <option value=4>Pelota de tenis</option>
                        <option value=5>Balon de rugby</option>
                        <option value=6>Bate de beisbol</option>
                        <option value=7>Casco de beisbol</option>
                        <option value=8>Gorra de beisbol</option>
                        <option value=9>Camiseta de fútbol</option>
                        <option value=10>Botas de fútbol</option>
                        <option value=11>Pantaloneta de futbo</option>
                        <option value=12>Medias de fútbol</option>
                        <option value=13>Raqueta de tenis</option>
                        <option value=14>Rueda abdominal</option>
                        <option value=15>Guantes de proteccion</option>
                        <option value=16>Mancuernas de 40kg</option>
                        <option value=17>Mancuerna 3 libras</option>
                        <option value=18>Kit bandas elasticas</option>
                        <option value=19>Barra multifuncional</option>
                        <option value=20>Cuerda de salto</option>
                        <option value=21>Camiseta deportiva licra</option>
                        <option value=22>Sudadera deportiva</option>
                        <option value=23>Conjunto Adidas</option>
                        <option value=24>Conjunto Nike</option>
                        <option value=25>Camisilla deportiva</option>
                        <option value=26>Camibuso</option>
                        <option value=27>Zapatos deportivo dama</option>
                        <option value=28>Zapatos deportivos Hombre</option>

                      </select>
                      <div *ngIf="formStock.get('tipo')?.hasError('required') && formStock.touched"
                        class="alert alert-primary" role="alert">
                        <i class="bi bi-exclamation-triangle"></i>
                        Por favor seleccione una opcion.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-outline">
                      <i class="fas fa-dollar-sign trailing"></i>
                      <input formControlName="cantidad" min="1" type="number" id="form1"
                        class="form-control form-icon-trailing" placeholder="Ingrese la cantidad" />
                      <div *ngIf="formStock.get('cantidad')?.hasError('required') && formStock.touched"
                        class="alert alert-primary" role="alert">
                        <i class="bi bi-exclamation-triangle"></i>
                        La cantidad es requerida.
                      </div>
                      <div *ngIf="formStock.get('cantidad')?.hasError('min') && formStock.touched"
                        class="alert alert-primary" role="alert">
                        <i class="bi bi-exclamation-triangle"></i>
                        Ingrese un valor valido.
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row pt-4">
                  <div class="col text-center">
                    <div class="form-outline">
                      <!-- <a class="btn btn-primary" (click)="modalRef?.hide()" >Añadir producto</a> -->
                      <button
                        [disabled]="formStock.get('cantidad')?.hasError('required') || formStock.get('tipo')?.hasError('required') "
                        type="button" (click)="agregar_producto(formStock.value)" class="btn btn-primary" >Añadir
                        producto</button>
                    </div>
                  </div>
                </div>

              </div>
            </ng-template>
            <!--####### FIN Modal agregar#############-->

            <div class="col-md-2 pe-0">
              <a class="btn btn-success" (click)="openModal(template1)"><i class="bi bi-recycle" style="font-size: 1.2em;"></i> Ver stock de baja</a>

              <ng-template #template1>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Productos de stock dados de baja</h4>
                  <button type="button" class="close btn-close pull-right" aria-label="Close"
                    (click)="modalRef?.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <div class="col-12 pt-4 text-center">
                    <table  class="row-border hover table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Nombre</th>
                          <th>Precio</th>
                          <th>Cantidad</th>
                          <th>Editar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let stock of lista_stock_borrados">
                          <td>{{stock.id_stock_det}}</td>
                          <td>{{stock.Nombre}}</td>
                          <td>{{stock.Precio}}</td>
                          <td>{{stock.Cantidad}}</td>

                          <td><a class="btn btn-success" (click)="restaurar_producto(stock.id_stock_det)"><i class="bi bi-trash" style="font-size: 1.2em;"></i> Restaurar</a></td>
      
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </ng-template>
            </div>


            <div class="col-12 pt-4">
              
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stock of lista_stock">
                    
                    <td>{{stock.id_stock_det}}</td>
                    <td>{{stock.Nombre}}</td>
                    <td>{{stock.Precio}}</td>
                    <td>{{stock.Cantidad}}</td>
                    <td><a class="btn btn-success" (click)="openModal2(template2,stock)"><i class="bi bi-pencil-square" style="font-size: 1.2em;"></i> Editar</a></td>
                    <td><a class="btn btn-danger" (click)="eliminar_producto(stock.id_stock_det)"><i class="bi bi-trash" style="font-size: 1.2em;"></i> Eliminar</a></td>

                    <!--Modal editar-->
                    <ng-template #template2>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">Editar producto</h4>
                        <button type="button" class="close btn-close pull-right" aria-label="Close"
                          (click)="modalRef?.hide()">
                          <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                        <div class="row p-1">

                          <div class="col-md-6">
                            <div class="form-outline">
                              <i class="fas fa-dollar-sign trailing"></i>
                              <input formControlName="newcantidad" min="1" type="number" id="form1"
                                class="form-control form-icon-trailing" placeholder="Ingrese la cantidad" />
                              <div *ngIf="formStock.get('newcantidad')?.hasError('required') && formStock.touched"
                                class="alert alert-primary" role="alert">
                                <i class="bi bi-exclamation-triangle"></i>
                                La cantidad es requerida.
                              </div>
                              <div *ngIf="formStock.get('newcantidad')?.hasError('min') && formStock.touched"
                                class="alert alert-primary" role="alert">
                                <i class="bi bi-exclamation-triangle"></i>
                                Ingrese un valor valido.
                              </div>
                            </div>
                          </div>

                          <div class="row pt-4">
                            <div class="col text-center">
                              <div class="form-outline">
                                <!-- <a class="btn btn-primary" (click)="modalRef?.hide()" >Añadir producto</a> -->
                                <button [disabled]="formStock.get('newcantidad')?.hasError('required')" type="button"
                                  (click)="editar_producto(formStock.value,stock.id_stock_det)"
                                  class="btn btn-primary">Editar producto</button>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </ng-template>
                    <!--####### FIN Modal editar#############-->

                  



                  </tr>
                </tbody>





              </table>
            </div>





          </form>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>



</body>

</html>